body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFBAD2;
}

.container {
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #000000;
    margin-top: 20px;
    z-index: 1;
}


/* Cambio de color al pasar el ratón */
button:hover {
    background-color: #A0522D; 
}
